@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --pry-red: hsl(0, 100%, 74%);
  --pry-green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish-blue: hsl(246, 25%, 77%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white;
  background-color: var(--pry-red);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.container {
  display: grid;
  padding: 64px 24px 0 24px;
}
.mobile__bg {
  position: absolute;
  z-index: -10;
}
.desktop__bg {
  display: none;
}
.container__header {
  margin-bottom: 24px;
}
h1 {
  margin-bottom: 16px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
}
.header__copy {
  margin-bottom: 40px;
  text-align: center;
}
h2 {
  background-color: var(--blue);
  margin: 0 auto 24px auto;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  max-width: 420px;
  font-size: 16px;
  font-weight: 400;
  box-shadow: 2px 6px 16px rgba(0, 0, 0, 0.2);
}
h2 span {
  font-weight: 700;
}
.form__container {
  margin: 0 auto 96px auto;
  max-width: 420px;
  border-radius: 8px;
  background-color: white;
  padding: 24px;
  padding-bottom: 32px;
  box-shadow: 1px 5px 16px rgba(0, 0, 0, 0.1);
}
form {
  margin: 0 auto;
  width: 90%;
  padding-top: 32px;
}
.input__container {
  position: relative;
  margin-bottom: 16px;
}
input {
  outline: none;
  width: 100%;
  border-radius: 8px;
  border: 2px solid var(--grayish-blue);
  padding: 14px;
  font-weight: 700;
  font: inherit;
  color: var(--dark-blue);
}
.error__icon {
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
}
.error__msg {
  margin-top: 4px;
  text-align: right;
  font-size: 14px;
  line-height: 16px;
  font-style: italic;
  color: var(--pry-red);
}
.hidden {
  display: none;
}
.error {
  border: 1px solid var(--pry-red);
  color: var(--pry-red);
}
.error::placeholder {
  color: white;
}
.submit__btn {
  margin-top: 0 auto;
  width: 100%;
  cursor: pointer;
  border-radius: 8px;
  border-style: none;
  background-color: var(--pry-green);
  padding: 20px;
  letter-spacing: 0.8px;
  font: inherit;
  font-size: 16px;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.submit__btn:hover {
  opacity: 0.8;
}
.form__info {
  margin-top: 8px;
  text-align: center;
  font-size: 14px;
  color: var(--grayish-blue);
}
.form__info span {
  color: var(--pry-red);
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 56px;
    padding-inline: 96px;
  }
  .container__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    font-size: 48px;
    text-align: left;
  }
  .header__copy {
    text-align: left;
  }
  h2 {
    max-width: none;
  }
  .form__container {
    margin-bottom: 32px;
    max-width: none;
  }
  .mobile__bg {
    display: none;
  }
  .desktop__bg {
    max-width: 90vw;
    display: block;
    z-index: -10;
    position: absolute;
  }
}
